.areaOverview {
    background-color: rgba(236, 232, 222, 0.733);
    padding: 5px;
    width: 100vw;
    position: relative;
    left: 0;
    // margin-bottom: 20px;
    box-shadow: 2px 2px 10px 0px rgb(88, 88, 88);

    h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 100;
        margin: 5px;
    }
}


.moduleOverview {
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}